@import url("https://use.typekit.net/yhn1zse.css");

:root {
    --text-small: 1rem;
    --text-base: 6rem;
    --text-secondary: 5rem;
    --text-principle: 10vw;
    --color-text: #6a004d;
    --color-accent: #006d77;
    --color-accent-hover: #730009;
    --font-family-base: "urca",sans-serif;
    --font-family-heading: "keo",sans-serif;
}

body {
    background: #ffbe1d;
    color: #181818;
    font-family: var(--font-family-base);
    font-size: var(--text-principle); 
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}
h1 {
    background-color: #ffbe1d;
    font-size: var(--font-size-h1);
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-family: var(--font-family-base);
    font-size: var(--font-font-size-h2);
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    font-size: var(--text-sec);
    color: var(--color-accent);
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero {
    text-align: center;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 180px;
    padding: 0;
    text-align: justify all line;

}
/*
para editar el p que está debajo del h1, se puede usar el selector de hermano adyacente (+) para seleccionar el p que sigue inmediatamente al h1. Esto permite aplicar estilos específicos a ese p sin afectar a otros elementos p en la página.
*/
.hero h1 + p {
    font-size: 2rem;
    color: var(--color-text);
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
}
/*
Texto descriptivo
*/
.hero h1 + p + p {
    font-size: 4rem;
    font-family: var(--font-family-heading);
    color: var(--color-text);
    margin-top: 100px;
    margin-left: 50px;
    padding: 0;
    max-width: 600px;
    text-align: left;
}
.hero h1 + p + p + p{
    font-size: 4rem;
    font-family: var(--font-family-heading);
    color: var(--color-text);
    margin-left: 50px;
    padding: 0;
    max-width: 600px;
    text-align: left;
}
.hero h1 + p + p + p + p{
    font-size: 4rem;
    font-family: var(--font-family-heading);
    color: var(--color-text);
    margin-left: 50px;
    padding: 0;
    max-width: 600px;
    text-align: left;
}